# Dépendances Node.js
node_modules/
package-lock.json

# Artefacts cryptographiques et de canal (générés)
organizations/
channel-artifacts/
system-genesis-block/

# Fichiers de configuration locaux et logs
*.log
.env
wallet/

# Archives de chaincodes (générées)
*.tar.gz

# Fichiers temporaires
*.swp
*.swo
*~
.DS_Store
